*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter', sans-serif;
}

header{
    background: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

header > div{
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.75px;
    color: #FFFFFF;
    margin-left: 10px;
}